
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('../media/sea-pic.jpg') no-repeat;
    background-size: cover;
}

.fdc{
  flex-direction: column;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    font-family: 'Permanent Marker', cursive;
    font-size: 97px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    color: #fff;
}
.subtitle {
    color: #fff;
    font-size: 30px;
    font-family: 'Noto', sans-serif;
    text-align: center;
}
.tile-section {
    padding-top: 100px;
    padding-bottom: 25px;
}

.section1{
height:750px;
}
body {
    background-color: #ddd;
}
.container {
    display: flex;
    justify-content: center;
}
.flexwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50em;
    flex-wrap: wrap;
    width: 1080px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}
.tile {
    background-color: tomato;
    margin: 10px;
    padding: 20px;
    color: #222;
    font-size: 42px;
    font-family: 'Noto', sans-serif;
}
.flip-container {
    perspective: 1000px;
    margin: 10px;
    padding: 20px;
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}
.flip-container, .front, .back {
    width: 250px;
    height: 250px;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    background-color: tomato;
    z-index: 2;
    transform: rotateY(0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: 'Noto', sans-serif;
    font-family: sans-serif;
    color: #fff;
    text-rendering: optimizeLegibility;
}
.back {
    transform: rotateY(180deg);
    background-color: #2196F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-content {
    margin: 40px;
    font-size: 24px;
    font-family: 'Noto', sans-serif;
    color: #fff;
    text-rendering: optimizeLegibility;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.front-title {
    align-items: center;
    margin: 100px;
}
.wrap {
    background: no-repeat center url("../media/HZCASACP3N.jpg");
    background-size: cover;

    width: 100%;
    height: 100%;
}
.title-wrap {
    padding-top: 125px;
    display: flex;
    justify-content: center;
    font-family: 'Noto', sans-serif;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    color: #fff;
    font-weight: bold;
}

.title {
    color: #fff;
}
@media only screen and (max-device-width: 1800px) {
.section1{
  height:650px;
}
}

@media only screen and (max-device-width: 1560px) {
.section1{
  height:550px;
}
}

@media only screen and (max-width:1280px) {
    .title-wrap {
        padding-top: 50px;
    }
    .tile-section {
        padding-top: 50px;
    }

  }

  @media only screen and (max-width:890px) {
      .section2{
        height: 1200px;
      }

    }

    @media only screen and (max-width:801px) {
      .section1{
        background: url("../media/sea-pic.jpg") no-repeat center center fixed;
    background-size: cover;
      }
    video {
            display: none;
        }
        .header{
          font-size: 48px;
        }
        .subtitle{
          font-size: 24px;
        }
        .title {
          font-size: 48px;
        }



    }


    @media only screen and (max-width:618px) {
  .section2{
    height:2000px;
  }
      }

      @media only screen and (max-width:380px) {
.header{
  font-size: 28px;

  }
  .subtitle{
    font-size: 18px;
  }
.title{
  font-size: 32px;
}
.flip-container, .front, .back {
    width: 250px;
    height: 250px;
}

        }
